/*Beginning of the css file*/

body {
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

#header {
    background-color: #ebebeb;
    padding: 35px;
    color: gray;
    width: 990px;
    margin-left: 200px;
    text-align: center;
    margin-top: 9px;
}

#nav {
    background-color: #ebebeb;
    padding: 35px;
    color: gray;
    width: 990px;
    margin-left: 200px;
    text-align: center;
    margin-top: 10px;
}

#section {
    background-color: #ebebeb;
    width: 575px;
    color: gray;
    float: right;
    margin-right: 125px;
    margin-top: 20px;
    height: 250px;
    text-align: center;
    padding-top: 45px;
    padding-left: 60px;
}

#letters {
    background-color: #ebebeb;
    width: 5px;
}

#p {
    background-color: #ebebeb;
    clear: both;
    overflow: auto;
    width: 5px;

}

#article {
    background-color: #777;
}

#aside {
    background-color: #ebebeb;
    height: 250px;
    width: 400px;
    float: right;
    margin-top: -347px;
    margin-right: -300px;
    text-align: center;
    padding-top: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

#footer {
    background-color: #ebebeb;
    padding: 35px;
    color: gray;
    width: 990px;
    margin-left: 200px;
    text-align: center;
    margin-top: -42px;
}



