/*Beginning of the css file*/

body {
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

/*Top of the page, first box*/

#header {
    background-color: #ebebeb;
    padding: 35px;
    color: gray;
    width: 990px;
    margin-left: 200px;
    text-align: center;
    margin-top: 9px;
}

/*Second box coming from the top*/

#nav {
    background-color: #ebebeb;
    padding: 35px;
    color: gray;
    width: 990px;
    margin-left: 200px;
    text-align: center;
    margin-top: 10px;
}

/*This is the box containing h1, h2 and h3 which is going to be inside the big "Section" box*/ 

#letters {
    background-color: #ebebeb;
    width: 375px;
    margin-left: 72px;
    height: 50px;
    clear: both;
    position: absolute;
    margin-top: 45px;
    z-index: 100;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

/*This box is also going to be inside the bigger "Section" box, and it will have "p" inside it*/

#p {
    background-color: #ebebeb;
    clear: both;
    overflow: auto;
    width: 375px;
    z-index: 200;
    margin-left: 72px;
    position: absolute;
    margin-top: 120px;
    height: 50px;
    padding-top: 20px;
}

/*This box will be the darker box named "article", which is going to house boxes "p" and "h1, h2, h3"*/

#article {
    background-color: #777;
    height: 200px;
    width: 515px;
    position: absolute;
    color: #333;
    padding-top: 20px;
    margin-top: 3px;
}

/*This "aside" box will have the same size as the "section" one and it will be on the right"*/

#aside {
    background-color: #ebebeb;
    height: 250px;
    width: 400px;
    float: right;
    margin-top: -295px;
    margin-right: -300px;
    text-align: center;
    padding-top: 47px;
    clear: both;
}

/*The "box" box is going to be the very last one, same size as "header" and "nav"*/

#footer {
    background-color: #ebebeb;
    padding: 35px;
    color: gray;
    width: 990px;
    text-align: center;
    height: 35px;
    margin-top: 325px;
    clear: both;
    margin-left: 200px;
}

/*"container" is going to house the boxes "section, artilce, h1 h2 h3 and p"*/

.container {
    background-color: #ebebeb;
    width: 575px;
    color: gray;
    float: right;
    margin-right: 125px;
    margin-top: 20px;
    height: 250px;
    text-align: center;
    padding-top: 45px;
    padding-left: 60px;
    clear: both
}